In [1]:
# Question 1: What are data structures, and why are they important?
# ans: Data structure is a way or organising and storing data so that it can be accessed and manipulated easily. It is important because a well choosen data can optimize searching and storing operation and conserve memory usage

In [2]:
#Question 2:  Explain the difference between mutable and immutable data types with example?
# ans: Mutable data types are container or objects whose state or value can be chnaged after they are created are called as mutable objects or container also called as item assignment. Ex- list supports item assignment
#      Immutable data types are container or objects whose state or value cant be chnaged after they are created are called as immutable data types. Ex- tuple

In [3]:
#Question 3: What are the main differences between lists and tuples in Python?
# ans: Lists are mutable and represented in[] while tuples are immutable and represented in().

In [4]:
#Question 4:  Describe how dictionaries store data
# ans: Dictonary stores values or datas in the form of key values or words.

In [5]:
#Question 5: Why might you use a set instead of a list in Python?
# ans: List are ordered collection of elements while set is a unordered collection of unique elements. Suppose while making a grocery list you mistakenly add an items twice or thrice which will result in buying the item one more time but when you mention an item or value more than once in a set it will print only once marking it as a unique value.

In [6]:
#Question 6: What is a string in Python, and how is it different from a list3
# ans: A string is a data type while a list is a data structure which is a set of different data types like string, boolean, float.

In [28]:
#Question 7: How do tuples ensure data integrity in Python
# ans: As it is immutable in nature so it is used in places where you dont want to modify data hence ensuring the data integrity

In [ ]:
# Question 8:What is a hash table, and how does it relate to dictionaries in Python
# ans:

In [ ]:
# Question 9: Can lists contain different data types in Python?
# ans: yes list can contain different data types, so it is heterogeneous in nature.

In [ ]:
# Question 10: Explain why strings are immutable in Python
# ans: string is an inbuilt data type like any other data types and as in built data types are immutable they cant be changed once created so string is also immutable.

In [ ]:
# Question 11: What advantages do dictionaries offer over lists for certain tasks
# ans. In dictionaries we can have better representation pf complex data and it has faster data retrieval than lists.

In [ ]:
# Question 12:Describe a scenario where using a tuple would be preferable over a list
# ans: In an office case where employees are provided with employee ids, if it is stored in the form of list and not in the form of tuple then it may get manipulated as list is mutable. So tuple prevents the data.

In [ ]:
# Question 13: How do sets handle duplicate values in Python3
# ans. as sets are unordered and do not allow duplicates it automatically removes duplicates values when elements are added.

In [ ]:
# Question 14:How does the “in” keyword work differently for lists and dictionaries
# ans. in keyword in list is used to check if the given value exists in the list while in disctionary it checks whether a given key exists or not.

In [ ]:
# Question 15: Can you modify the elements of a tuple? Explain why or why not
# ans. No we can not modify elements of a tuple as it is immutable in nature.

In [ ]:
# Question 16: What is a nested dictionary, and give an example of its use case3

In [ ]:
# Question 17: Describe the time complexity of accessing elements in a dictionary

In [ ]:
# Question 18:P In what situations are lists preferred over dictionaries
# ans. Lists are ordered while dictonaries are unordered. so if maintaininng the sequence is important then list is a better choice.

In [ ]:
# Question 19: Why are dictionaries considered unordered, and how does that affect data retrieval

In [ ]:
# Question 20: Explain the difference between a list and a dictionary in terms of data retrieval.
# ans: in list you can access values using index and accessing an invalid index raises an Indexerror while in dictonary you can access values using keys and accessing a non existing keys raises Keyerror

In [7]:
#PRACTICAL QUESTIONS:

In [9]:
# 1.Write a code to create a string with your name and print it
my_name= "Aditya Chhotray"
print("my_name:", my_name)

my_name: Aditya Chhotray

In [10]:
# 2.Write a code to find the length of the string "Hello World"
string= "Hello World"
len(string)

11

In [13]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
string="python Programming"
string[0:3]

'pyt'

In [14]:
# 4.Write a code to convert the string "hello" to uppercase?
string = "hello"
string.upper()

'HELLO'

In [15]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
string= "I like apple"
string.replace("apple","orange")

'I like orange'

In [17]:
#. 6.Write a code to create a list with numbers 1 to 5 and print it.
my_list= [1,2,3,4,5]
print("my list is:", my_list)

my list is: [1, 2, 3, 4, 5]

In [19]:
#. 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
string= [1,2,3,4]
string.append(10)
string

[1, 2, 3, 4, 10]

In [21]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
string= [1,2,3,4,5]
string.remove(3)
string

[1, 2, 4, 5]

In [22]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
string= ['a','b','c','d',]
string[1]

'b'

In [24]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
string= [10,20,30,40,50]
string.reverse()
string

[50, 40, 30, 20, 10]

In [25]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple= (100,200,300)
print("my tuple is:",my_tuple)

my tuple is: (100, 200, 300)

In [26]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
string= ('red', 'green', 'blue', 'yellow')
string[1:]

('green', 'blue', 'yellow')

In [27]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple= (10,20,30,40)
min(my_tuple)

10

In [28]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple= ('dog','cat','rabbit')
my_tuple.index('cat')

1

In [29]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple= ('apple','banana','orange')
"kiwi" in my_tuple

False

In [30]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set= {'a','b','c'}
print("my set is:",my_set)

my set is: {'c', 'a', 'b'}

In [32]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set= {1,2,3,4,5}
my_set.clear()
my_set

set()

In [33]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set= {1,2,3,4}
my_set.remove(4)
my_set

{1, 2, 3}

In [2]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a= {1,2,3}
b= {3,4,5}
a | b

{1, 2, 3, 4, 5}

In [3]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a= {1,2,3}
b= {2,3,4}
a & b

{2, 3}

In [6]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
description= {"name":'Aditya', "age":23 , "city":"Bhaubaneswar"}
description

{'name': 'Aditya', 'age': 23, 'city': 'Bhaubaneswar'}

In [7]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
description= {"name":"John", "age":25}
description["country"]="USA"
description

{'name': 'John', 'age': 25, 'country': 'USA'}

In [8]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
description = {'name': 'Alice', 'age': 30}
description["name"]

'Alice'

In [11]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
description =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
del description["age"]
description

{'name': 'Bob', 'city': 'New York'}

In [12]:
# 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
description= {'name': 'Alice', 'city': 'Paris'}

In [19]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all
a= ['apple', 'orange', 'grapes','chicken','egg']
t= (1,2,4.5,True, "ajay")
d={"name":"ajay","phone no":"56854677", "adress":"bbsr"}
print("List:",a)
print("Tuple:",t)
print("dictionary:",d)

List: ['apple', 'orange', 'grapes', 'chicken', 'egg']
Tuple: (1, 2, 4.5, True, 'ajay')
dictionary: {'name': 'ajay', 'phone no': '56854677', 'adress': 'bbsr'}

In [22]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)

my_list= [23,45,43,24,97]
my_list.sort()
print("sorted list:",my_list)

sorted list: [23, 24, 43, 45, 97]

In [23]:
# 28. Write a code to create a list with strings and print the element at the third index.
a= ['apple', 'orange', 'grapes','chicken','egg']
a[3]

'chicken'

In [26]:
# 29.Write a code to combine two dictionaries into one and print the result.
a= {"name":"ajay","phone no":"56854677", "adress":"bbsr"}
b= {"age":56,"sex":"male"}
a.update(b)
a

{'name': 'ajay',
 'phone no': '56854677',
 'adress': 'bbsr',
 'age': 56,
 'sex': 'male'}

In [27]:
# 30.Write a code to convert a list of strings into a set.
lis= ["apple", "cat", "dog", "cat"]
lis= set(lis)
print("set:", lis)

set: {'dog', 'apple', 'cat'}